---
import HomeSection from "@/sections/Home.astro"
import AboutSection from "@/sections/About.astro"
import ProjectsSection from "@/sections/Projects.astro"
import ContactSection from "@/sections/Contact.astro"
import NavBar from "@/components/NavBar.astro"
import Footer from "@/sections/Footer.astro"
---



<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Stefan Samson's personal website" />
		<meta name="color-scheme" content="dark light" />
		<meta name="generator" content={Astro.generator} />

		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

		<title>Stefan Samson - SSbit01</title>
	</head>

	<body>
		<main>
			<HomeSection />
			<AboutSection />
			<ProjectsSection />
			<ContactSection />
		</main>
		<NavBar />
		<Footer />
	</body>

</html>



<style lang="styl" is:global>
@font-face
	font-family Jura  // Credit Font
	font-style normal
	src url("/fonts/jura.ttf") format("opentype")

html
	scrollbar-width thin
	scroll-behavior smooth

body
	color white
	background black
	font-family Jura, Calibri, Arial, sans-serif
	margin 0
</style>