---
import { Icon } from "astro-icon"
import Skill from "@/components/Skill.astro"
---



<section id="about">
  <div id="about-me">
    <img src="/images/me.webp" alt="Avatar" loading="lazy" id="avatar" />
    
    <div id="about-summary">
      <h1 class="title-section"><a href="#about-me">About Me</a></h1>
      <p>I'm <strong>Stefan Samson</strong>, also known as <em><strong>SSbit01</strong></em>, a young <strong>self-taught developer</strong> who loves to <strong>learn</strong> and <strong>try out</strong> the <strong>latest technologies</strong>.</p>
      <p>Capable of developing <strong>full-stack web applications</strong> and doing some <strong>data analysis</strong> and <strong>visualization</strong> with <em>Python</em> and <em>JavaScript</em> (or <em>TypeScript</em>).</p>
      <p>I've always been curious about <strong>science</strong> and <strong>technology</strong>. <em>Python</em> was my first programming language, which I taught myself at the age of 12. Shortly after, I became interested in <strong>Data Science</strong> and <strong>Artificial Intelligence</strong>, which I'm still learning.</p>
      <p>I was also interested in <strong>Web Development</strong> and <strong>Communications</strong>; I learned <em>front-end</em> and <em>back-end</em> technologies that allowed me to create <u>exciting projects</u>.</p>
    </div>
  </div>


  <fieldset id="interests">
    <legend>Interests</legend>

    <ul>
      <li><Icon name="mdi:code-braces" />Coding</li>
      <li><Icon name="mdi:robot-angry" />Artificial Intelligence</li>
      <li><Icon name="eos-icons:atom-electron" />Physics</li>
      <li><Icon name="mdi:telescope" />Astronomy</li>
      <li><Icon name="simple-icons:windows95" />Retrocomputing</li>
      <li><Icon name="mdi:nintendo-game-boy" />Video Games & Modding</li>
    </ul>
  </fieldset>


  <div id="skill-set">
    <h1 class="title-section"><a href="#skill-set"><Icon name="carbon:skill-level-advanced" />Skill Set</a></h1>

    <fieldset id="front-end">
      <legend><a href="#front-end"><Icon name="eva:browser-fill" />Front-End</a></legend>
      <fieldset>
        <legend>Structuring</legend>
        <Skill name="vscode-icons:file-type-html" title="HTML5" />
        <Skill name="vscode-icons:file-type-pug" title="Pug" />
      </fieldset>
      <fieldset>
        <legend>Styling</legend>
        <Skill name="vscode-icons:file-type-css" title="CSS" />
        <Skill name="logos:sass" title="Sass" />
        <Skill name="stylus" title="Stylus" />
        <Skill name="logos:bootstrap" title="Bootstrap" />
        <Skill name="logos:tailwindcss-icon" title="Tailwind CSS" />
      </fieldset>
      <fieldset>
        <legend>Programming</legend>
        <Skill name="logos:javascript" title="JavaScript" />
        <Skill name="logos:typescript-icon" title="TypeScript" />
        <fieldset>
          <legend>Frameworks / Libraries</legend>
          <Skill name="logos:react" title="React" />
          <Skill name="logos:vue" title="Vue" />
          <Skill name="logos:redux" title="Redux" />
          <Skill name="jquery" title="jQuery" />
          <Skill name="logos:d3" title="D3.js" />
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="back-end">
      <legend><a href="#back-end"><Icon name="clarity:rack-server-solid" />Back-End</a></legend>
      <Skill name="supabase" title="Supabase" />
      <Skill name="logos:nodejs-icon" title="Node.js" />
      <Skill name="simple-icons:express" title="Express" />
      <fieldset>
        <legend><Icon name="ph:database-duotone" />Databases</legend>
        <Skill name="mongodb" title="MongoDB" />
        <Skill name="mongoose" title="Mongoose" />
        <Skill name="logos:postgresql" title="PostgreSQL" />
      </fieldset>
    </fieldset>

    <fieldset id="all-in-one-web">
      <legend><a href="#all-in-one-web">All-In-One Web Frameworks</a></legend>
      <Skill name="file-icons:nextjs" title="Next.js" />
      <Skill name="logos:nuxt-icon" title="Nuxt" />
      <Skill name="vscode-icons:file-type-astro" title="Astro" />
    </fieldset>

    <fieldset id="communications">
      <legend><a href="#communications"><Icon name="fluent:communication-16-filled" />Communications</a></legend>
      <Skill name="cib:socket-io" title="Socket.IO" />
      <Skill name="logos:graphql" title="GraphQL" />
    </fieldset>

    <fieldset id="testing">
      <legend><a href="#testing"><Icon name="file-icons:test-js" />Testing</a></legend>
      <Skill name="logos:mocha" title="Mocha" />
      <Skill name="logos:chai" title="Chai" />
    </fieldset>

    <fieldset id="data-analysis">
      <legend><a href="#data-analysis"><Icon name="ep:data-analysis" />Data Analysis</a></legend>
      <Skill name="logos:python" title="Python" />
      <Skill name="logos:numpy" title="NumPy" />
      <Skill name="simple-icons:pandas" title="Pandas" />
      <Skill name="logos:matplotlib-icon" title="Matplotlib" />
      <Skill name="seaborn" title="Seaborn" />
    </fieldset>

  </div>
</section>



<style lang="stylus">
.title-section
  font-size clamp(1.5em, 9vw, 2em)
  > a:first-child
    position relative
    color mediumseagreen
    text-decoration none
    transition color .15s
    &::before
      content ""
      position absolute
      background mediumaquamarine
      right 0
      bottom 0
      left 0
      transform scaleX(0)
      transform-origin right
      height 3px
      background mediumturquoise
      border-radius 2px
      transition transform .15s
    &::after
      content "#"
      position absolute
      right -1em
      color darkslategray
      opacity 0
      transition opacity .15s
    &:hover, &:focus
      color mediumspringgreen
      &::after
        opacity 1
    &:active::before
      transform scaleX(1)
      transform-origin left

#about
  background rgb(10, 15, 20) linear-gradient(135deg, rgb(25, 35, 40), rgb(10, 15, 20))
  $px = 1em
  padding 0 $px 5em $px
  border-bottom thin solid mediumspringgreen

#about-me
  display flex
  align-items center
  justify-content center
  gap 1em 2em
  padding-top 2em

#avatar
  width 18em
  max-width 100%
  border-radius 50%
  box-shadow 0 0 8px teal
  transition box-shadow .2s, translate .15s
  &:hover
    box-shadow 0 0 12px 2px springgreen
  &:active
    translate 0 -.5em

#about-summary
  max-width 50em
  > h1:first-child
    margin 0
  > p
    font-size clamp(1em, 3vw, 1.1em)
    line-height 1.5
    strong, em
      color aquamarine
    u
      text-decoration-color mediumaquamarine
    a
      color dodgerblue
      transition color .15s, text-shadow .15s
      &:hover
        color deepskyblue
      &:active
        text-shadow 0 0 4px

#interests
  background rgba(5, 10, 15, .75)
  max-width 70em
  padding-top .75em
  border thin solid darkslategray
  border-radius 8px
  box-shadow 1px 1px 4px black
  margin-top .5em
  margin-right auto
  margin-left auto
  > legend:first-child
    color aquamarine
    font-size 1.2em
  > ul
    list-style none
    display flex
    flex-wrap wrap
    justify-content space-evenly
    gap .6em 1em
    padding 0
    margin 0
    > li
      display flex
      align-items center
      gap .3em
      color darkcyan
      > svg
        color lightseagreen
        width 1.5em

#skill-set
  display grid
  justify-content center
  gap 1.5em
  margin-top 2em
  > h1:first-child
    text-align center
    margin-bottom -.25em
    > a
      display inline-flex
      align-items center
      gap .25em
      > svg:first-child
        width 1em
  fieldset  // All fieldsets
    display flex
    flex-wrap wrap
    align-items center
    justify-content space-evenly
    gap 1em
    border-radius 8px
    box-shadow 1px 1px 4px black
    fieldset  // Nested fieldsets
      background rgba(5, 10, 15, .5)
      border thin solid rgb(30, 40, 40)
      $px = .5em
      padding 1em $px .5em $px
      margin 0
      > legend
        display flex
        align-items center
        gap .25em
        color silver
        svg
          width 1.5em
  > fieldset  // First level fieldset children
    background rgba(5, 15, 20, .5)
    padding .75em
    border thin solid darkslategray
    margin 0 -.25em
    scroll-margin-top .5em
    > legend
      font-size clamp(1.1em, 5.5vw, 1.5em)
      > a:first-child  
        display inline-flex
        align-items flex-end
        gap .25em
        position relative
        color mediumseagreen
        text-decoration none
        transition color .15s
        &::before
          content ""
          color black
          background mediumaquamarine
          position absolute
          right 0
          bottom 0
          left 0
          transform scaleX(0)
          transform-origin right
          height 2px
          background mediumturquoise
          border-radius 2px
          transition transform .2s
        &:hover, &:focus
          color mediumspringgreen
        &:active::before
          transform scaleX(1)
          transform-origin left
        > svg:first-child
          width 1.25em


@media (max-width 935px)
  #about-me
    flex-direction column
    align-items center
  #about-summary > h1:first-child
    text-align center

@media (max-width 580px)
  #interests > ul
    flex-direction column
</style>